/* Main applications container */
h3 {
  color: white;
}
.apps {
  margin: 2rem auto;
  max-width: 80rem;
  background-color: rgb(53, 70, 70);
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* List of applications */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

/* Application items */
.item {
  background-color: #d0e3eb;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  width: calc(33% - 1rem); /* Fixed width with margin */
  max-width: 300px; /* Limit max width */
  height: 270px; /* Fixed height */
  transition: transform 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Stack image and content vertically */
}

/* Link inside each item */
.item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  flex-direction: column; /* Stack image and content vertically */
  height: 100%;
  max-height: 200px;
}

/* Hover effect */
.item a:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
}

/* Image */
.item img {
  width: 100%; /* Full width of the item */
  height: 50%; /* Take 50% of the item's height */
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Content */
.content {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%; /* Remaining 50% of the item's height */
}

/* Headings */
.item h2 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.item h4,
.item date {
  margin: 0.2rem 0;
  font-size: 0.85rem;
}

.item date {
  font-style: italic;
}
