.investContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content */
    justify-content: center; /* Center content */
  }
  
  .label {
    margin-bottom: 10px; /* Space between label and input */
  }
  
  .input {
    width: 100%; /* Full width input */
    padding: 10px; /* Padding for input */
    margin-bottom: 10px; /* Space below the input */
    border: 1px solid #ccc; /* Border for the input */
    border-radius: 5px; /* Rounded corners */
  }
  
  .investButton {
    background-color: #4caf50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Pointer on hover */
    margin-top: 10px; /* Space above the button */
    display: flex;
    justify-content: center; /* Center the button */
    align-items: center; /* Center the content inside the button */
    width: 30%; /* Make the button take the full width */
  }
  
  .error-message,
  .success-message {
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin-top: 10px; /* Add some spacing to the top */
    text-align: center; /* Ensure text is centered */
  }
  