.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Left (Images), Center (Content), Right (Comments) */
  grid-template-rows: auto;
  gap: 0px;
  padding: 0px;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 550px;
}

.images {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.imageRoll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70px;
  height: auto;
  margin: 3px;
  transition: transform 0.3s;
  opacity: 0.5;
}

.activeImage {
  width: 200px;
  opacity: 1;
}

.image:hover {
  transform: scale(1.1);
}

.arrow {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  padding: 10px;
}

.content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ensure content stretches to fill */
  margin-top: 0px;
  padding: 0px;
  height: 100%; /* Take the full height of the grid */
}

.title {
  font-size: 1.8rem;
  color: #333;
  margin-top: 0;
}

.description {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0;
}

.properties {
  display: grid;
  /* grid-template-columns: 1fr 1fr; /* Two equal columns */
  flex-direction: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

.property {
  align-items: flex-start;
  font-size: 1rem;
  margin: 0px;
  color: #33353d;
  text-align: left;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.addToCartButton,
.investButton {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.addToCartButton {
  background-color: #28a745;
}

.addToCartButton:hover {
  background-color: #218838;
}

.investButton {
  background-color: #007bff;
}

.investButton:hover {
  background-color: #0056b3;
}

.comments {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 550px;
}

strong {
  font-weight: bold;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the title and icons horizontally */
  position: relative; /* For the icons to be aligned at the end */
}

.title {
  flex-grow: 1; /* Allow the title to take up the center space */
  text-align: center; /* Center the title text */
}

.icons {
  position: absolute; /* Position the icons in the same row */
  right: 0; /* Align them to the right */
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 2rem;
  color: #007bff;
  transition: color 0.2s ease;
}

.icon-delete {
  color: red;
}

.icon:hover {
  color: #0056b3;
}

.icon-delete:hover {
  color: rgb(123, 39, 39);
}
