.header {
  max-width: rem; 
  margin: auto; 
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(49, 42, 42);
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: rgb(202, 199, 199);
}

.list a:hover,
.list a.active {
  color: rgb(187, 165, 61);
  text-decoration: underline;
}
