.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top */
}

.modal {
  position: relative;
  max-width: 80%; /* Increase the width to 80% */
  max-height: 80%; /* Increase the height to 80% */
  overflow: hidden;
  background-color: white; /* Add background color for better visibility */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add padding */
}

.enlargedImage {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  background-color: rgb(143, 55, 55);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1001; /* Ensure close button is on top */
}